<div class="component <%= bottomSpace %>" data-name="<%= component %>" data-instance="<%= instance %>">
</div>
<script>
    ORDREConfigs.components.push(<%- JSON.stringify(json) %>)
</script>
<script src="/components/<%= component %>/js/index.js"></script>